body {
    height: 100%;
    font-family: Tahoma, Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* background-color: #f4f4f4; */
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #222; 
    padding: 10px 20px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container .site-name {
    font-size: 2em;
    font-weight: bold;
    color: #009c03;
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 5px;
}

#logo {
    width: 55px;
    height: 55px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

header nav ul li a {
    color: #009c03;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s ease;
}
header nav ul li a:hover {
    color: #35d400;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;

}
.hero, .what-we-do, .featured-articles {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

}
.hero {
    background: url('hero-banner.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
}

.hero-content h1 {
    font-size: 5em;
    margin-top: auto;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}
.cta-button {
    padding: 10px 20px;
    background-color: #009c03;
    font-weight: bold;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.hero-content h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
}


.cta-button:hover {
    background-color: #35d400;
}

.what-we-do {
    background-color: #ffffff; /* White background */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-we-do-content {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.what-we-do-image {
    width: 50%; /* Adjusted to a smaller size */
    max-width: 400px; /* Limit the maximum width */
    margin-right: 20px;
    border-radius: 10px;
}

.what-we-do-text {
    max-width:50%; /* Adjusted to a smaller size */
    text-align: justify;
    align-self: right;
}

.featured-articles {
    background-color: #009c03;
    padding: 0 3%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-height: auto;
    width: 100%;
    max-width: auto;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: center;
    justify-content: space-around;
    gap: 20px;
    width: 95%;
}

.article-card {
    background-color: #fff;
    padding: 25px;
    width: 70%;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
    .article-card {
        width: 35%;
    }
}

@media (max-width: 480px) {
    .article-card {
        width: 60%;
    }
}


.article-card img {
    max-width: 100%;
    border-radius: 5px;
}
.article-card h3 {
    padding: 5px;
}
.article-card p {
    padding: 0 5px;
}

.article-card a {
    display: inline-block;
    margin: 0 15px 15px;
    padding: 5px 10px;
    background-color: #009c03;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

main {
    background-color: #fff;
}

.get-in-touch {
    padding-left: 5%; 
}

.contact-form-section {
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.contact-form {
    display: flexbox;
    max-width: 600px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #009c03;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #35d400;
}

.fitness-tips {
    margin-top: 5%;
    padding: 2% 5%;
}

.resources {
    padding: 1% 5%;
}

.about {
    padding-left: 5%;
    padding-top: 8%;
    padding-right: 5%;
}

.about p {
    text-align: justify;
    width: 100%;
    max-width: 1000px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.explore {
    padding: 2% 5%;
}

.newsletter {
    background-color: #f7f7f7;
    padding: 3% 20px;
    text-align: center;
}

#newsletter-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#newsletter-form input[type="email"] {
    padding: 10px;
    width: 280px;
    border-radius: 5px;
    border-width: 1px;
}

#newsletter-form button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #009c03;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer-logo {
    width: 10em; /* Bigger logo */
    align-self: left;
}

footer address {
    color: #fff;
    margin-left: 30px;
    margin-top: 1%;
    vertical-align: middle;
    align-self: center;
}

.author-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns the author info to the right */
    text-align: right; /* Ensures text aligns right */
}

.author-column {
    margin-bottom: 10px; /* Optional: Adds spacing between authors */
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

footer .address-author-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

